
node_modules/

.expo/
dist/
_site/
expo-env.d.ts

coverage/

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env
.env.*
!.env.example

*.tsbuildinfo

/ios
/android
